.Property-header {
    display: flex;
    justify-content: space-around;
}

.Icon {
    cursor: pointer;
}

.Carousel {
    max-width:  20rem;
    max-height: 20rem;
}

@media (max-width: 990px) {
	.Carousel {
        width: 100%;
	}
    .description {
        text-align: center;
    }    
}

#Image-View {
    width:      auto;
    height:     20rem;
    max-width:  auto;
    max-height: 20rem;
}

.Overflow-Main-Text-View {
    white-space: nowrap;
    width: 100%;;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(94, 93, 93);
}

.Overflow-Second-Text-View {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(94, 93, 93);
}
