$color-text: #fff;
$color-primary: #007bff;
$color-secondary: #024c9a;
$color-black: #000;
$color-grey: #777;
$color-offwhite: rgb(241, 237, 237);
$color-card: #ebf5ff;
$color-back: #ffb900;
$color-back-secondary: #ff7730;
$color-dark: #333;
$color-light-grey: #f7f7f7;
$color-back2: #2998ff;
$color-back2-secondary: #5643fa;
$color-background:#050e19;