# app config
NODE_ENV=dev
PORT=8000
LOG_LEVEL=log
LOG_DIR=logs

# twitter config
TWITTER_APP_NAME=
TWITTER_APP_ID=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_WEBHOOK_ENV=

# vite config
VITE_NODE=wss://buidl.vite.net/gvite/ws

# contract
CONTRACT_PLATFORM_MAP=
CONTRACT_ADDRESS=
CONTRACT_OWNER_MNEMONICS=
CONTRACT_ABI=
CONTRACT_CODE=
CONTRACT_OFFCHAIN_CODE=

# wallet
WALLET_FOLDER=wallet

# redis
REDIS_URL=
