.reward-card-title {
  font-size: 27px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.reward-apr-subtitle {
  font-size: 24px !important;
}

.text-center {
  margin-left: auto;
  margin-right: auto;
}

.yd-text-dark {
  color: white !important;
}

.yd-text-light {
  color: black !important;
}