<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        @import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap);
        :root{--primary-color:#3a4052}*{box-sizing:border-box;margin:0;padding:0}
        body{font-family:'Open Sans',sans-serif;line-height:1.5}
        a{text-decoration:none;color:var(--primary-color)}
        h1{font-weight:300;font-size:60px;line-height:1.2;margin-bottom:15px}
        .showcase{height:100vh;display:flex;align-items:center;justify-content:center;text-align:center;color:#fff;padding:0 20px}
        .video-container{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;background:var(--primary-color) url(assets/cover.jpg) no-repeat center center/cover}
        .video-container video{min-width:100%;min-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);object-fit:cover}
        .video-container:after{content:'';z-index:1;height:100%;width:100%;top:0;left:0;background:rgba(0,0,0,.5);position:absolute}
        .content{z-index:2}.btn{display:inline-block;padding:10px 30px;background:var(--primary-color);color:#fff;border-radius:5px;border:solid #fff 1px;margin-top:25px;opacity:.7}
        .btn:hover{transform:scale(.98)}#about{padding:40px;text-align:center}
        #about p{font-size:1.2rem;max-width:600px;margin:auto}
        #about h2{margin:30px 0;color:var(--primary-color)}.social a{margin:0 5px}
    </style>
    <title>Buy me a Coffee</title>
</head>
<body>
<section class="showcase">
    <div class="video-container">
        <video src="assets/sky_bg_1.mp4" autoplay muted loop></video>
    </div>
    <div class="content">
        <img src="images/welcome_anim.gif"/><br><br>
        <h2>Buy me a Coffee</h2><br>
        <p>The Friendly Way to Receive Support.
            <br>Create your link to get started!</p><br>
        <a href="/enter-details" class="btn" style="background: purple; color: white; font-size: 1.5rem;"><strong>Enter →</strong></a>
    </div>
</section>

<section id="about">
    <h1>More Details</h1>
    <p>
        Buy me a Coffee is the friendly way to ask fans to support your work for the price of a coffee. Coffee's just a metaphor (You don’t have to buy actual coffee!).
        <br><br>
        Ask your fans and followers to support you, receive messages of encouragement and celebrate when you reach your goal!
    </p>

    <h2>Follow Me On Social Media</h2>

    <div class="social">
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
        <a href="https://github.com" target="_blank"><i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>
</section>
</body>
</html>
